# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# PyInstaller
build/
dist/
*.manifest
*.spec.bak
version_info.txt

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project-specific
_mod_manager_data.json
